* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}
body {
  font-family: 'Lato', Avenir, Helvetica, Arial, sans-serif;
}
button {
  font-family: 'Lato', Avenir, Helvetica, Arial, sans-serif;
  border: 0;
}
a {
  text-decoration: none;
  color: #000;
}
/* *::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
  border-radius: 8px;
  border: 2px solid #eee;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(124, 124, 124);
} */

select {
  width: 100%;
  padding: 0.7em 1em;
  border: 1px solid #cad6e4;
  border-radius: 5px;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.loader-container {
  min-height: 250px;
  display: grid;
  place-items: center;
}
